fastapi
uvicorn[standard]

pydantic

sqlalchemy
greenlet
psycopg[binary]
asyncpg
alembic

pydantic-settings

pyjwt
argon2-cffi

redis

qrcode[pil]

httpx

pytest
pytest-asyncio

ruff

email-validator

python-jose[cryptography] 
pwdlib[argon2]